boto3==1.40.60
botocore==1.40.60
jmespath==1.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
PyYAML==6.0.3
s3transfer==0.14.0
six==1.17.0
urllib3==2.5.0
streamlit
openai
python-dotenv
pydantic-settings
requests
PyPDF2
PyMuPDF
Pillow
pytesseract
jinja2
markdown2
pdfkit
bcrypt==4.2.0
python-pptx
fpdf2
streamlit-cropper
